@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vertical-gradient: linear-gradient(180deg, #07AAEF 0%, #601CE9 100%);
  --horizontal-gradient: linear-gradient(90deg, #07AAEF 0%, #601CE9 100%);
  --diagonal-gradient: linear-gradient(135deg, #07AAEF 0%, #601CE9 100%);
  --primary: #3561EC;
  --secondary: #D7DCF0;
  --accent: #601CE9;
  --background: #F2F3F8;
  --text: #08090D;
}

html,
body,
#app,
#app>div {
  height: 100%;
  background: #f3f1fe;
  color: #1f1a36;
}